Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.husky
.vscode
.env
.env.local
.env.development
.env.production
.env.development.local
.env.production.local

vitest.config.mts
__tests__/
.husky
.vscode
tests/
.github
.nyc_output

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.state
accessibility-report

.prettier*
codecov.yml
eslint*
test-report.junit.xml
coverage
steiger.config.ts
happydom.ts

# stories
src/**/*.stories.tsx
src/**/*.stories.ts
src/**/*.stories.jsx
src/**/*.stories.js
src/**/*.stories.mdx
src/**/*.stories.md
