LOG_LEVEL=INFO
NEXT_PUBLIC_API_USERS_URL=http://localhost:8001/api
NEXT_PUBLIC_API_CATALOG_URL=http://localhost:8002/api
AUTH_SECRET=secret
AUTH_TRUST_HOST=true
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000
